a.out
*~
*.o
*.lst
*.bin
*.elf
*.hex
*.bak
*.ii
*.i
*.d
*.map
*.a
*.pdf
*.zip
cword_list
cword_htable
cword_tree
cword_vector
.gitignore
Maias_20001210.txt
.vscode
wqueue1
wqueue2
wqueue3
wqueue4
wqueue5
wqueue6

